/*Importing from Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap')
layer(base);

@import 'tailwindcss';

@config '../tailwind.config.js';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/* [x-cloak] {
    display: none;
} */

.nav-link{
    @apply cursor-pointer;
}
.body-con{
    @apply bg-gray-50 dark:bg-gray-950 py-20 text-gray-800 dark:text-white border-b border-gray-200 dark:border-gray-900 transition-colors duration-300;
}
.body-subcon{
    @apply container md:w-5/6 mx-auto px-6;
}
.gen-header-con{
    @apply text-center;
}
.gen-header-text{
    @apply text-4xl font-bold text-black dark:text-white;
}
.icon{
    @apply text-indigo-700 text-2xl cursor-pointer;
}
.section-btn{
    @apply text-white bg-indigo-700 w-36 text-center py-4 rounded-lg font-semibold flex justify-evenly items-center cursor-pointer hover:translate-y-3 transform duration-1000 ease-out;
}

/*HOME*/
.home-icon{
    @apply text-indigo-700 text-2xl cursor-pointer mb-4 hover:translate-y-2 transform duration-700 ease-out animate-left;
}

/*SKILLS*/
.skills{
    @apply  pb-8 lg:w-96;
}
.skills-header{
    @apply flex justify-between items-center w-full cursor-pointer;
}
.skills-icon{
    @apply basis-1/12 mr-2;
}
.skills-text{
    @apply text-base sm:text-xl font-bold text-start basis-10/12 text-black dark:text-white;
}
.skills-display{
    @apply basis-1/12 text-right;
}
.skills-body{
    @apply mt-4 p-3;
}
.sub-skill-header{
    @apply flex justify-between items-center font-semibold;
}
.sub-skill-percentage{
    @apply text-sm font-semibold inline-block py-1 px-2 uppercase rounded-full text-indigo-600 bg-indigo-200;
}
.progress-bar-con{
    @apply relative pt-1;
}
.progress-bar{
    @apply overflow-hidden h-2 mb-4 text-xs flex rounded-sm bg-indigo-200;
}
.progress{
    @apply shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-indigo-500;
}

/*QUALIFICATION*/
.qualification-header{
    @apply text-black dark:text-white font-semibold font-sans pt-4;
}
.general-qualification-con{
    @apply bg-white dark:bg-slate-800 rounded-xl shadow-lg py-10 grid grid-cols-2 gap-0;
}
.qualification-con{
    @apply pl-8 border-r border-indigo-700 relative;
}
.qualification-description{
    @apply font-semibold w-5/6 py-1;
}
.qualification-date{
    @apply flex justify-between w-fit items-center gap-2;
}
.progress-circle{
    @apply absolute right-0 transform translate-x-1/2 translate-y-1/2 bg-indigo-700 w-3 h-3 rounded-full;
}
.view-more-con{
    @apply flex justify-between items-center w-28 pt-2 cursor-pointer hover:translate-x-2 transform duration-1000 ease-out;
}
.view-more{
    @apply font-bold text-indigo-700;
}
.q-card-backdrop{
    @apply backdrop-brightness-25 backdrop-blur-xs fixed top-0 h-full w-full z-40 flex justify-center items-center;
}
.q-card{
    @apply relative bg-white dark:bg-slate-800 rounded-xl p-8 w-11/12 md:w-2/3 lg:w-1/2;
}
.q-card-header{
    @apply flex justify-between items-center pb-5;
}
.q-card-header-text{
    @apply text-2xl font-extrabold dark:text-white;
}
.q-card-skill{
    @apply py-4 flex justify-between items-start gap-2;
}
.small-icon{
    @apply text-indigo-700 cursor-pointer dark:text-white;
}
.q-card-skill-text{
    @apply text-gray-500 dark:text-white mr-auto text-left sm:text-lg;
}

/*Contact Me*/
.left-contact-con{
    @apply flex justify-between items-center gap-2 w-fit mb-8;
}
.contact-icon{
    @apply text-3xl text-indigo-700;
}
.left-contact-title{
    @apply text-xl font-bold text-black dark:text-white;
}
.contact-right-con{
    @apply bg-gray-200 dark:bg-slate-800 w-full md:w-96 p-3 placeholder:text-gray-600 lg:placeholder:font-semibold rounded-lg mb-5;
}
.contact-right-input{
    @apply border-none outline-hidden bg-inherit w-full;
}

/*FOOTER*/
.footer-nav-link{
    @apply cursor-pointer text-white;
}

/*PHONE HEADER*/
.phone-header-con{
    @apply bg-slate-50 dark:bg-slate-900 text-gray-600 dark:text-white font-nunito md:hidden fixed bottom-0 w-full px-5 py-4 shadow-xl border-t-2 border-gray-200 dark:border-slate-950;
}
.phone-icon{
    @apply text-2xl cursor-pointer font-bold;
}
.phone-nav-link{
    @apply cursor-pointer text-center font-bold;
}

/*PROJECTS*/
.project-con{
    @apply py-8 w-full px-5;
}
.project-img-con{
    @apply flex justify-center;
}
.project-img{
    @apply rounded-xl w-80 h-44;
}
.project-title{
    @apply text-2xl font-bold text-black dark:text-white pt-6;
}
.project-desc{
    @apply text-gray-600 dark:text-white py-3;
}
.project-btn{
    @apply absolute top-1/2 transform -translate-y-3/4 p-2 text-indigo-400 font-bold text-3xl;
}
.carousel-btn{
    @apply w-2 h-2 rounded-full mx-1 border border-indigo-700 cursor-pointer;
}

/*Rebrand*/
.rebrand-wrap-one{
    @apply max-w-6xl mx-auto px-6;
}
.rebrand-wrap-three{
    @apply bg-white dark:bg-gray-900 border-l-8 border-indigo-700 shadow rounded-lg p-5 my-5 transition duration-500;
}
.rebrand-wrap-four{
    @apply text-2xl font-bold;
}
.rebrand-wrap-five{
    @apply italic font-bold text-indigo-700 dark:text-indigo-400 py-3;
}
.rebrand-wrap-six{
    @apply cursor-pointer text-indigo-700 dark:text-indigo-300 font-semibold py-3 hover:translate-x-3 duration-1000 ease-out;
}
.rebrand-wrap-seven{
    @apply text-xl dark:text-white font-bold py-2;
}
.rebrand-wrap-eight{
    @apply shadow-sm rounded-2xl p-3 bg-white dark:bg-gray-900;
}
.rebrand-warp-nine{
    @apply italic text-sm;
}
.rebrand-wrap-ten{
    @apply bg-gray-50 dark:bg-gray-800 rounded-2xl shadow-md hover:shadow-2xl transition duration-500 overflow-hidden;
}
.rebrand-wrap-eleven{
    @apply text-2xl font-bold text-black dark:text-white mb-2;
}
.rebrand-wrap-twelve{
    @apply text-indigo-600 dark:text-indigo-400 font-medium mb-2;
}
.rebrand-wrap-thirteen{
    @apply text-gray-700 dark:text-gray-300 mb-4;
}
.rebrand-wrap-fourteen{
    @apply bg-indigo-100 dark:bg-indigo-900 text-indigo-700 dark:text-indigo-300 px-3 py-1 rounded-full text-sm;
}
.rebrand-wrap-fifteen{
    @apply inline-block bg-indigo-700 text-white px-5 py-2 rounded-md font-semibold hover:bg-indigo-800 transition;
}
.rebrand-wrap-sixteen{
    @apply p-4 rounded-lg bg-gray-50 dark:bg-gray-800 border border-gray-300 dark:border-gray-700 focus:outline-none focus:border-emerald-400 duration-500;
}
.rebrand-wrap-seventeen{
    @apply text-emerald-400 hover:text-emerald-500 text-xl;
}
.rebrand-wrap-eighteen{
    @apply bg-emerald-400 text-gray-950 font-bold py-3 rounded-lg hover:bg-emerald-500 transition cursor-pointer;
}
.rebrand-wrap-nineteen{
    @apply min-h-screen flex flex-col justify-center items-center bg-white dark:bg-gray-900 transition-colors duration-300;
}
.rebrand-wrap-twenty{
    @apply text-4xl md:text-5xl font-bold mb-4;
}
.rebrand-wrap-twenty-one{
    @apply text-xl md:text-2xl font-semibold text-indigo-600 dark:text-indigo-400 mb-4;
}
.rebrand-wrap-twenty-two{
    @apply text-gray-700 dark:text-gray-300 leading-relaxed
}
.rebrand-wrap-twenty-three{
    @apply px-6 py-3 bg-indigo-500 dark:bg-indigo-600 text-white dark:text-gray-200 rounded-xl hover:bg-indigo-700 transition duration-500;
}
.rebrand-wrap-twenty-four{
    @apply px-6 py-3 border border-indigo-600 text-indigo-600 dark:text-indigo-400 dark:border-indigo-400 rounded-xl hover:bg-indigo-50 dark:hover:bg-indigo-800 transition;
}
.rebrand-wrap-twenty-five{
    @apply w-80 md:w-96 drop-shadow-lg;
}
.rebrand-wrap-twenty-six{
    @apply text-3xl md:text-4xl font-bold mb-8 text-gray-900 dark:text-white;
}
.rebrand-wrap-twenty-seven{
    @apply text-gray-700 dark:text-gray-400 mb-12 max-w-2xl mx-auto;
}
.rebrand-wrap-twenty-eight{
    @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8;
}
.rebrand-wrap-twenty-nine{
    @apply p-6 rounded-2xl shadow-md bg-white dark:bg-gray-800 transform transition duration-700 hover:-translate-y-2;
}
.rebrand-wrap-thirty{
    @apply text-xl md:text-2xl font-extrabold text-indigo-600 dark:text-indigo-400 mb-2;
}
.rebrand-wrap-thirty-one{
    @apply text-gray-900 dark:text-gray-100 font-semibold leading-snug;
}
.rebrand-wrap-thirty-two{
    @apply p-6 rounded-2xl bg-gray-50 dark:bg-gray-800 border border-gray-100 dark:border-gray-700 duration-500 shadow-sm;
}
.rebrand-wrap-thirty-three{
    @apply bg-gray-100 dark:bg-gray-800 p-6 rounded-xl border border-gray-200 dark:border-gray-700 duration-500;
}
.rebrand-wrap-thirty-four {
    @apply mt-10 bg-white dark:bg-gray-800 p-6 rounded-xl border border-gray-100 dark:border-gray-700 shadow-sm duration-500;
}