/*Importing from Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* [x-cloak] {
    display: none;
} */

.nav-link{
    @apply cursor-pointer;
}
.body-con{
    @apply bg-slate-50 dark:bg-slate-900 pt-36 pb-3 -mt-2 font-nunito;
}
.body-subcon{
    @apply w-11/12 sm:w-5/6 lg:w-2/3 mx-auto;
}
.gen-header-con{
    @apply text-center;
}
.gen-header-text{
    @apply text-4xl font-bold text-black dark:text-white;
}
.icon{
    @apply text-indigo-700 text-2xl cursor-pointer;
}
.skills{
    @apply  pb-8 w-72 sm:w-80;
}
.skills-header{
    @apply flex justify-between items-center w-full cursor-pointer;
}
.skills-icon{
    @apply basis-1/12 mr-2;
}
.skills-text{
    @apply text-base sm:text-xl font-bold text-start basis-10/12;
}
.skills-display{
    @apply basis-1/12 text-right;
}
.skills-body{
    @apply mt-4 p-3;
}
.sub-skill-header{
    @apply flex justify-between items-center font-semibold;
}
.sub-skill-percentage{
    @apply text-sm font-semibold inline-block py-1 px-2 uppercase rounded-full text-indigo-600 bg-indigo-200;
}
.progress-bar-con{
    @apply relative pt-1;
}
.progress-bar{
    @apply overflow-hidden h-2 mb-4 text-xs flex rounded bg-indigo-200;
}
.progress{
    @apply shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-indigo-500;
}

/*QUALIFICATION*/
.qualification-header{
    @apply text-black dark:text-white font-semibold font-sans pt-4;
}
.general-qualification-con{
    @apply bg-white dark:bg-slate-800 rounded-xl shadow-lg py-10 grid grid-cols-2 gap-0;
}
.qualification-con{
    @apply pl-8 border-r border-indigo-700 relative;
}
.qualification-description{
    @apply text-sm font-semibold w-5/6 py-1;
}
.qualification-date{
    @apply flex justify-between w-fit items-center gap-2;
}
.progress-circle{
    @apply absolute right-0 transform translate-x-1/2 translate-y-1/2 bg-indigo-700 w-3 h-3 rounded-full;
}
.view-more-con{
    @apply flex justify-between items-center w-28 pt-2 cursor-pointer;
}
.view-more{
    @apply font-bold text-indigo-700;
}
.q-card-backdrop{
    @apply bg-gray-200 fixed top-0 h-full w-full z-40 bg-opacity-85 dark:bg-opacity-35 flex justify-center items-center;
}
.q-card{
    @apply relative bg-white dark:bg-slate-800 rounded-xl p-8 w-11/12 md:w-2/3 lg:w-1/2;
}
.q-card-header{
    @apply flex justify-between items-center pb-5;
}
.q-card-header-text{
    @apply text-2xl font-extrabold dark:text-white;
}
.q-card-skill{
    @apply py-4 flex justify-between items-start gap-2;
}
.small-icon{
    @apply text-indigo-700 cursor-pointer dark:text-white;
}
.q-card-skill-text{
    @apply text-gray-500 dark:text-white mr-auto text-left sm:text-lg;
}

/*Contact Me*/
.left-contact-con{
    @apply flex justify-between items-center gap-2 w-fit mb-8;
}
.contact-icon{
    @apply text-3xl text-indigo-700;
}
.left-contact-title{
    @apply text-xl font-bold text-black dark:text-white;
}
.contact-right-con{
    @apply bg-gray-200 dark:bg-slate-800 w-full md:w-96 p-3 placeholder:text-gray-600 lg:placeholder:font-semibold rounded-lg mb-5;
}
.contact-right-input{
    @apply border-none outline-none bg-inherit w-full;
}

/*PHONE HEADER*/
.phone-header-con{
    @apply bg-slate-50 dark:bg-slate-900 text-gray-600 dark:text-white font-nunito md:hidden fixed bottom-0 w-full px-5 py-4 shadow-xl border-t-2 border-gray-200 dark:border-slate-950;
}
.phone-icon{
    @apply text-2xl cursor-pointer font-bold;
}
.phone-nav-link{
    @apply cursor-pointer text-center font-bold;
}

/*PROJECTS*/
.project-con{
    @apply py-8;
}
.project-img-con{
    @apply flex justify-center;
}
.project-img{
    @apply rounded-xl w-80 h-44;
}
.project-title{
    @apply text-2xl font-bold text-black dark:text-white pt-6;
}
.project-desc{
    @apply text-gray-600 dark:text-white py-3 h-52 sm:h-36;
}
.project-btn{
    @apply text-white bg-indigo-700 w-36 text-center py-4 rounded-lg flex justify-evenly items-center cursor-pointer font-bold;
}
.carousel-btn{
    @apply w-2 h-2 rounded-full mx-1 border border-indigo-700;
}
.carousel-change{
    @apply  text-2xl text-indigo-500;
}